<% if notice %>
  <div class="alert alert-success"><p id="notice"><%= notice %></p></div>
<% end %> 

<p>
  <strong>Title:</strong>
  <%= @series.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @series.description %>
</p>

<%= render template:'content/index' %>

<%= link_to 'Edit', edit_series_path(@series) %> |
<%= link_to 'Back', series_index_path %>
